body{
 margin: 0;
 height: 2000px;
}
section{
    background: url('https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_promotion_bg_251226.jpg');
    height: 578px;
    margin-top: 100px;
    background-repeat: no-repeat;
    
}
.photo{
    position: absolute;
    top: 90px;
    left: 25%;
    animation: photo 2s ease-out /* infinite alternate */;
}

@keyframes photo{
    from{
        left: -25%;
        opacity: 0;
    }to{
        left: 25%;
        opacity: 1;
    }
}
@keyframes unphoto{
    from{
        left: 25%;
        opacity: 1;
    }to{
        left: -25%;
        opacity: 0;
    }
}
.section2{
    background: url('	https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_pick_bg_251226.jpg');
    height: 578px;
    margin-top: 100px;
    position: relative;
    background-repeat: no-repeat;
}

.cake{
    width: 615px;
    position: absolute;
    top: 100px;
    right: 50px;
    animation: cake 1s ease-in-out /* infinite alternate */;
}
.pick{
    height: 100%;
    color: aliceblue;
    font-size: 5rem;
    width: 256px;
    position: absolute;
    top: 100px;
    left: 25%;
    animation: pick 1s ease-out;
}

@keyframes cake {
    from{
        right: -20px;
    }to{
        right: 50px;
    }
    
}

@keyframes pick {
    from{
        left: -25%;
    }to{
        left: 25%;
    }
}

@keyframes unpick {
    from{
        left: 25%;
    }to{
        left: -25%;
    }
    
}